.button {
  border-bottom-width: 0 !important;
  border-radius: $radius;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  line-height: 1;
  padding: #{$padding * 1.2} #{$padding * 2};
  text-align: center;
  text-decoration: none !important;
  text-transform: uppercase;
  user-select: none;

  background-color: var(--accent-color);
  box-shadow: var(--light-shadow);
  color: var(--accent-fg-color);

  &.button--disabled {
    opacity: 0.25;
    pointer-events: none;
  }

  span {
    margin-left: 10px;
  }
}