@import "@/scss/_variables.scss";

body {
  margin: 0;
  overflow-x: hidden;

  background-color: var(--body-bg-color);
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;
    transition: $transition;

    color: var(--accent-color);

    &:focus,
    &:hover {
      outline: 0;

      filter: var(--brighter-filter);
    }

    &:active {
      filter: var(--darker-filter);
    }

    &.no-transition {
      transition: unset;
    }
  }

  .button {
    border-bottom-width: 0 !important;
    border-radius: $radius;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    line-height: 1;
    padding: #{$padding * 1.2} #{$padding * 2};
    text-decoration: none !important;
    text-transform: uppercase;
    user-select: none;
  
    background-color: var(--accent-color);
    box-shadow: var(--light-shadow);
    color: var(--accent-fg-color);
  }
}
