$brighter-filter: brightness(1.25);
$darker-filter: brightness(0.75);
$grid-amount-desktop: 6;
$grid-amount-desktop-sm: 4;
$grid-amount-mobile: 2;
$padding: 10px;
$padding-mini: 5px;
$radius: 7px;
$transition: 0.25s;