$padding: 10px;
$padding-mini: 5px;
$radius: 7px;
$transition: 0.25s;
$grid-amount-desktop: 5;
$grid-amount-desktop-sm: 3;
$grid-amount-mobile: 2;
$navbar-container-height: 75px;
$navbar-item-font-size: 1.3rem;
$navbar-item-font-size-mobile: 1.4rem;
$navbar-spacing: #{$padding * 1.5};
$navbar-hero-height: calc(100vh - #{$navbar-container-height + (($padding * 1.5) * 2)});

$facebook-brand-color: #0078ef;
$flickr-brand-color: #ff0585;
$github-brand-color: #23292e;
$instagram-brand-color: white;
$reddit-brand-color: #ff3f29;
$snapchat-brand-color: #fffc3e;
$telegram-brand-color: #009cdb;
$telescope-brand-color: #ffffff;
$twitter-brand-color: #00a1ee;
$whatsapp-brand-color: #00e769;
$facebook-brand-fg-color: #fefefe;
$flickr-brand-fg-color: white;
$github-brand-fg-color: white;
$instagram-brand-fg-color: black;
$reddit-brand-fg-color: white;
$snapchat-brand-fg-color: black;
$telegram-brand-fg-color: white;
$telescope-brand-fg-color: #1a1a1a;
$twitter-brand-fg-color: white;
$whatsapp-brand-fg-color: white;